[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[gpg]
	program = /usr/local/MacGPG2/bin/gpg2

[fetch]
	prune = true

[push]
	default = simple

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[pull]
	default = simple

[alias]
	graph = log --graph --date-order --pretty=format:'%C(red)%h%C(reset) -%C(bold yellow)%d%C(reset) %s %C(bold green)(%cr)%C(reset) %C(blue)<%an>%C(reset)'

[core]
    pager = delta

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    syntax-theme = Monokai Extended
	line-numbers = true
	# side-by-side = true

[interactive]
    diffFilter = delta --color-only